<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Among Us - Admin</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="/src/public/styles.css" />
    </head>
    <body>
        <div class="container-fluid h-100">
            <h1 class="text-center my-4">Among Us - Admin Panel</h1>
            <div class="row justify-content-center my-4">
                <div class="col-auto">
                    <button id="start-game-button" class="btn btn-success btn-lg">
                        Start Game
                    </button>
                </div>
            </div>
            <div id="progress-container" class="text-center my-4">
                <p id="progress-text">Progress is 0% complete</p>
            </div>
        </div>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="/src/public/config.js"></script>
        <script src="/src/public/admin.js"></script>
    </body>
</html>
